<h1>Repositories#search</h1>
<%= render '/partials/search' , placeholder: "Type your repository here ..." %>

  <%= render_cards do |t| %>
    <%= render partial: '/repositories/card', collection: @repositories, as: :repository %>
  <% end %>